<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>quacker-bot</title>
  <link rel="stylesheet" href="https://stackedit.io/style.css" />
</head>

<body class="stackedit">
  <div class="stackedit__html"><h1 id="official-site-for-spongeys-quacker">Official site for spongey’s quacker</h1>
<p><img src="https://github.com/Gfrkad21/quacker/blob/main/duck.jpg?raw=true" alt="profile image"></p>
<h3 id="help">Help</h3>
<ul>
<li>Not complete yet</li>
</ul>
<p>&nbsp;<br>
&nbsp;<br>
&nbsp;<br>
&nbsp;<br>
&nbsp;</p>
<p>Join our discord server <a href="https://discord.gg/E5wXQGjxsd">here</a></p>
</div>
</body>

</html>
